@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero -->
<div>
    <picture>
        <source media="(min-width:1200px)" srcset="https://placehold.co/1200x200" />
        <img src="https://placehold.co/375x200" class="img-fluid w-100" alt="banner" />
    </picture>
</div>

<!-- Breadcrum Home-->
<nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<!-- Home Page -->
<div class="row justify-content-between">
    <div class="col-6 col-md-3">
        <div class="menu-home-icon">
            <div class="border border-3 border-opacity-75 border-secondary rounded-circle overflow-hidden">
                <a href="#" class="d-block">
                    <img src="https://placehold.co/100x100"
                         class="w-100 img-fluid"
                         alt="information" />
                </a>
            </div>
        </div>
        <figcaption class="text-center mt-2 mt-md-4">
            <h4>Information</h4>
            <p class="text-muted">
                This site contains all your information such as username, password, email, phone
                number, address, etc
            </p>
        </figcaption>
    </div>
    <div class="col-6 col-md-3">
        <div class="menu-home-icon">
            <div class="border border-3 border-opacity-75 border-secondary rounded-circle overflow-hidden">
                <a href="#" class="d-block">
                    <img src="https://placehold.co/100x100"
                         class="w-100 img-fluid"
                         alt="information" />
                </a>
            </div>
        </div>
        <figcaption class="text-center mt-2 mt-md-4">
            <h4>Template Email</h4>
            <p class="text-muted">
                This site helps you to manage email template such as edit, add, remove, etc
            </p>
        </figcaption>
    </div>
    <div class="col-6 col-md-3">
        <div class="menu-home-icon">
            <div class="border border-3 border-opacity-75 border-secondary rounded-circle overflow-hidden">
                <a href="#" class="d-block">
                    <img src="https://placehold.co/100x100"
                         class="w-100 img-fluid"
                         alt="information" />
                </a>
            </div>
        </div>
        <figcaption class="text-center mt-2 mt-md-4">
            <h4>Users</h4>
            <p class="text-muted">
                This site helps you to manage users such as edit, add, remove, etc
            </p>
        </figcaption>
    </div>
</div>
